.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}
.navbar-dark {
    background-color: #273443;
    height: 60px;
}
.navbar-nav>.user-menu .user-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    color: #195030;
    background-color: #ffc107;
}
.bootstrap-select>.dropdown-toggle {
    background-color: #ffc107;
    color: #195030;
    border-color: #ffc107;
}
.dropdown-menu.show {
    display: block;
    background-color: #195030;
    color: #ffc107;
}
.dropdown-item.active, .dropdown-item:active {
    color: #ffc107;
    text-decoration: none;
    background-color: #195030;
}
.bs-searchbox .form-control {
    background-color: #195030;
    border-color: #ffc107;
    color: #ffc107;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show>.btn-light.dropdown-toggle {
    color: #195030;
    background-color: #ffc107;
    border-color: #ffc107;
}
.bootstrap-select .no-results {
    background: #ffc107;
    color: #195030;
}
.form-control {
    color: #195030;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    margin-left: -10px;
}
.dropdown-menu {
    color: #ffc107;
    background-color: #195030;
    border: 1px solid #195030;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
    color: #195030;
    background-color: #ffc107;
    border-color: #ffc107;
}
.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
    color: #195030;
    background-color: #ffc107;
    border-color: #ffc107;
}
.input-daterange .input-group-addon {
    text-shadow: 0 1px 0 #195030;
    color: #195030;
    background-color: #195030;
}
label:not(.form-check-label):not(.custom-file-label) {
    color: #195030;
    margin-top: 25px;
}
navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
    font-weight: 600;
}
.dropdown-menu {
    border: 1px solid #ffc107;
}
.wrapper .content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
    background-color: #ffffff;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
    background-color: #ffc107;
    color: #195030;
}
.bttn-fill.bttn-default:before {
    background: #195030;
    color: #ffc107;
}
.bttn-fill.bttn-default {
    background: #ffc107;
    margin-top: 49px;
}
.small-box>.inner {
    padding: 10px;
    font-size: 30px;
}
.small-box h3, .small-box p {
    z-index: 5;
    font-weight: 600;
    font-size: large;
}
.card-danger:not(.card-outline)>.card-header {
    background-color: #ffc107;
    border-bottom: 0;
}
.card-success:not(.card-outline)>.card-header {
    background-color: #195030;
    border-bottom: 0;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom: 1px solid #ffc107;
    border-top: 1px solid #ffc107;
    padding: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffc107;
    font-weight: 600;
}
.navbar-nav>.user-menu .user-image {
    float: none;
    line-height: 10px;
    margin-right: 0;
    margin-top: -13px;
}
.bg-danger .btn-tool, .alert-danger .btn-tool, .alert-error .btn-tool, .bg-gradient-danger .btn-tool, .card-danger:not(.card-outline) .btn-tool {
    color: #ffc107;
    background-color: #195030;
}
.bg-success .btn-tool, .alert-success .btn-tool, .alert-error .btn-tool, .bg-gradient-success .btn-tool, .card-success:not(.card-outline) .btn-tool {
    color: #195030;
    background-color: #ffc107;
}
.card-title {
    font-size: larger;
    font-weight: 600;
    color: #195030;
}
.card-body {
    margin-left: -10px;
    margin-right: 0px;
    margin-top: -80px;
}
.main-footer {
    background: #ffc107;
    border-top: 1px solid #ffc107;
    color: #869099;
    padding: 0.05rem;
}
.bg-success, .alert-success, .bg-success>a, .alert-success>a {
    color: #ffffff!important;
    background-color: #195030;
}
.bg-success, .alert-success {
    background-color: #195030!important;
}
.card {
    background-color: #195030;
    background-clip: border-box;
    border: 0 solid #195030;
    border-radius: .25rem;
}
.shiny-spinner-output-container {
    position: relative;
    margin-top: 70px;
}
h2, .h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 75px;
    margin-left: 45px;
    margin-bottom: -90px;
    color: #ffc107;
}
.bootstrap-select>.dropdown-toggle {
    background-color: #ffc107;
    color: #195030;
    border-color: #ffc107;
    margin-left: -10px;
}
.bttn-material-flat.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    margin-left: -10px;
    margin-right: -580px;
}
.btn.btn-circle-sm {
    width: 130px;
    height: 37px;
    text-align: center;
    font-size: 20px;
    line-height: 50%;
    border-radius: 2px;
}
.btn-default {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #195030;
    margin-left: 5px;
    margin-top: 1px;
}
.sF-breadcrumps {
    width: calc(100% - 740px);
    margin-left: auto;
    min-width: 120px;
}
.btn-toolbar .sF-breadcrumps {
    margin-left: 5px;
    float: left;
}